<%= render partial: 'layouts/errors', locals: {object: @log} %>    

    <%= form_for(@log) do |f| %>

        <% if @dive_site %>
            <%= f.hidden_field :dive_site_id, value: @dive_site.id %>
        <% else %>
            <h3>Select Your Dive Site</h3>
            <%= f.collection_select :dive_site_id, DiveSite.all, :id, :name, prompt: "Choose a Dive Site" %> 
            <h3>Or Add Your Own:</h3>
            <%= f.fields_for :dive_site do |ff| %>  
                <%= ff.label "Dive Site Name:" %>
                <%= ff.text_field :name %><br><br>
        <% end %>         

    <% end %>

     <%= f.label :date %> 
        <%= f.date_select :date %><br><br>  

        <%= f.label :dive_buddy %>
        <%= f.text_field :dive_buddy %><br><br>

        <%= f.label :depth %> (ft.)
        <%= f.number_field :depth, min: 1 %><br><br>

        <%= f.label :dive_time %> (min.)
        <%= f.number_field :dive_time, min: 1 %><br><br>

        <%= f.label :visibility %> (ft.)
        <%= f.number_field :visibility, min: 1 %><br><br>

        <%= f.label :remarks %>
        <%= f.text_area :remarks %><br><br>

        <%= f.submit %>

    <% end %>

    



