<ul>
    <li><%= @log.date %></li>
    <li><%= @log.dive_site_name %></li>
    <li><%= @log.dive_buddy %></li>
    <li><%= @log.depth %></li>
    <li><%= @log.dive_time %></li>
    <li><%= @log.visibility %></li>
    <li><%= @log.remarks %></li>
</ul>