<h2>Dive Site: <%= @log.dive_site.name %></h3>
<h3>Date: <%= @log.time %></h3><br>

Buddy: <%= @log.dive_buddy %><br>
Depth: -<%= @log.depth %> ft.<br>
Dive Time: <%= @log.dive_time %> minutes<br>
Visibility: <%= @log.visibility %> ft.<br><br>
Remarks: <%= @log.remarks %><br><br><br>

<%= link_to "Edit", edit_log_path(@log) %><br><br>
<%= link_to "Delete", log_path(@log), :method => :delete %>

