<h3>Dive # <%= @log.id %></h3>
<h3>Dive Site: <%= @log.dive_site.name %></h3> <%# Figure out how to display divesite name when it's only chosen from the dropdown %>
<h3>Date: <%= @log.date %></h3><br>

Buddy: <%= @log.dive_buddy %><br>
Depth: -<%= @log.depth %> ft.<br>
Dive Time: <%= @log.dive_time %> minutes<br>
Visibility: <%= @log.visibility %> ft.<br><br>
Remarks: <%= @log.remarks %>
